@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-action="Forgot">
        <h3>Forgot Your Password ? Reset Here</h3>
        <div class="formcontainer">
            <hr />
            <div class="container">
                <input name="Email" placeholder="Email" type="text" /><br />
                <input name="Default" placeholder="Default Password" type="password" />

            </div>
            <button type="submit">Login</button>
            <div>

            </div>
        </div>
    </form>
</body>
</html>